# Models (Large files)
models/model.keras
models/feature_extractor.keras
models/tokenizer.pkl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
